{{ $myContent := .Inner }}
{{ $myContent = ( strings.ReplaceRE `.*\[.*\]\(.+\.md\).*` "" $myContent ) }}  
{{ if eq "" $myContent }}
    {{/* 如果匹配到的是要注释的，那就置空 */}}
    {{ "" }}
{{ else }}
    {{/* 移除了 .IsBlock，因为这是 inline 模板，默认就是 false */}}
    {{ $opts := dict "displayMode" false "throwOnError" false }}
    {{ $result := transform.ToMath .Inner $opts }}
    
    {{/* 检查结果类型 */}}
    {{ if reflect.IsMap $result }} 
        {{ with $result.Err }}
            {{ warnf "Failed to render KaTeX: %q. See %s" . $.Position }}
            {{ $.Inner }}
        {{ else }}
            {{ $result.Value }}
        {{ end }}
    {{ else }}
        {{ $result }}
    {{ end }}
    
    {{- /* chomp trailing newline */ -}}         
{{ end }}