/* You can add custom styles here. */

//@import "plugins/numbered";
//@import "plugins/scrollbars";
:root {
 //--body-background: url("img/bg.png") fixed ;  

   //渐变色的话，得直接在下面新起一个块 body { background: xxxxx; }
   --body-background:  #c1dfc4 !important; 
   --font-size: 22px;

  //--body-background: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%) fixed;
  //--body-background: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%)  fixed;   
  /*========================================================================*/
  //--body-background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)  fixed; 
  //--body-background:  linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%) fixed; 
  //--body-background: linear-gradient(to top, #a8edea 0%, #fed6e3 100%) fixed; 
} 

.book-toc { 
  //font-size: $font-size-14;  //增大侧目录字号 原来是12
  font-size: 0.9rem;  //增大侧目录字号 原来是12
}
  
//   body,.book-menu,nav,.book-menu-content,.container {
//     /* 添加!important表示覆盖默认的设置 */
//     // background-image: url("sys/bg.png") !important;
//     background-color: #fdfdfd ;
//     background-attachment: fixed;
//     opacity: 1;
// }
h1,h2,h3,h4,h5,h6 { 
  font-weight: 900 !important;
}

  
/* 设置滚动条宽度及颜色 */
 .book-menu-content,  .book-toc-content  {
    scrollbar-color: rgba(0,0,0,0.15) rgba(255,255,255,0.1) ; 
    scrollbar-width: thin !important; 
} 

.book-toc-content {
  padding-left: 0px !important; 
  padding-right: 0px !important; 
}


#book-search-input{
  
   background-color: rgba(240,255,240,0.4) !important;
}
//超出自动换行
code {
  //white-space: pre-wrap;  
}

/*
@mixin sticky {
  margin: -$padding-16;
  padding: $padding-16;
  margin-bottom: 0;

  background: var(--body-background);
  position: sticky; 
}

.book-header {
  @include sticky;
  top: 0 !important;
  z-index: 1 !important;
}
*/

/*.book-footer {
  @include sticky;
  bottom: 0;
  z-index: 1;
}*/